.formulario-contacto {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #444;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.formulario-contacto h2 {
  text-align: center;
  margin-bottom: 20px;
}
